:root {
    --accent-color: #2196F3;
    --primary-txt-cl: #757575;
    --title-txt-cl: #212121;
    --primary-bg-cl: #2F303A;
    --secondary-bg-cl: #F5F4FA;
    --white-cl: #FFFFFF;
    --card-bg-cl: #FFFFFF;
}

span {
    color: var(--accent-color)
}