.Benefits__list {
    
    @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    }
 }

.benefits__wrap {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 120px;
    background-color: var(--secondary-bg-cl);
    margin-bottom: 30px;
    
    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 30px)/2);
         
    }
    @media screen and (min-width: 1200px) {
            flex-basis: calc((100% - (30px*3))/4);
        }
}

.Benefits__title {
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    
    color: var(--title-txt-cl);
    @media screen and (max-width: 767px) {
        text-align: center;  
    }       
    }


.Benefits__text {
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    margin-top: 10px;

    color: var(--primary-txt-cl);

    @media screen and (min-width: 768px) {
        width: 354px;
    }
    @media screen and (min-width: 1200px) {
            width: 270px;
        }
}

.benefits__item:not(:last-child) {
    @media screen and (max-width: 767px) {
    margin-bottom: 30px;
    }
 
}