.header {
    width: 100%;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    border-bottom: 1px solid #ECECEC;

    @media screen and (max-width: 767px) {
        padding-top: 16px;
        padding-bottom: 16px;
       
        
    }
}