.portfolio-list__item {
    width: 370px;
}

.portfolio-list__link {
    display: block;
    transition: box-shadow 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        }

}

.portfolio-list__title {
    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;
    color: var(--title-txt-cl);
    margin-bottom: 4px;
}

.portfolio-list__text {
    color: var(--primary-txt-cl);
    line-height: calc(30 / 16);
    letter-spacing: 0.03em;

}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.container-item {
    position: relative;
}

.portfolio-list__box {
    position: relative;
    overflow: hidden;
}



.portfolio-list__overlay {
    position: absolute;
    display: flex;
    align-items: center;

    transform: translateY(100%);
    transition: transform 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--accent-color);

    .portfolio-list__link:hover & {
            transform: translateY(0);
        }
}

.portfolio-list__overlay-text {
    font-weight: 400;
    font-size: 18px;
    line-height: calc(28 / 18);
    letter-spacing: 0.03em;
    color: #FFFFFF;
    padding-left: 24px;
    padding-right: 24px;


}

.portfolio-list__wrapper {
    border: 1px solid #EEEEEE;
    border-top: none;
    padding: 20px 24px;

}